.fita-main-logo {
    width: 50px;
}

.paginations ul li span {
    text-align: center;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 100%;
    border: 1px solid #eee;
    display: inline-block;
    transition: all ease .5s;
    color: #111d5e;
    font-size: 18px;
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, .05)
}


.paginations .pagination {
    justify-content: center;
}

.paginations ul li.active span{
    background-color: #2870a2;
    color: #fff;
    border: 1px solid #2870a2
}
.language_bar_list li a img {
    margin-top: 3px;
}
.language_bar_list li a span {
    color: #fff!important;
}

.page-banner-area {
    padding-bottom: 50px!important;
    padding-top: 50px!important;
}

.slider-item {
    max-height: none!important;
    margin: 0!important;
}
